@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


img{
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}
body{

    background-color: #EAEFF1;
    font-family: 'Raleway', sans-serif;
}
#container {margin: 0 auto;
    max-width: 300px;
    margin-top: 20vh;
}
.card{
    background-color: white;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #BACDD8;
}
.tag {
    padding: 4px 8px;
    border: 1px solid #E5EAED;

border-radius: 50px;
font-size: 12px;
font-weight: 600;
color: #788697;
}
.name {
    font-size: 24px;
    font-family: 600;
    margin-top: 16px;
}
p {
    font-size: 14px;
    color: #7F8C9B;
    line-height: 150%;
}

button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077FF;
    background-color: #e0efff;

    margin: 0 auto;
    display: block;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    
}
.card__details {
    padding: 16px 8px 8px                                                                               
}
button:focus, button:hover {
    color: #e0efff;
    background-color: #0077FF;
}